<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Вход на сайт</title>
</head>
<body style="background-image:url(https://www.psdgraphics.com/file/2017/family-silhouette.png);
            background-size:cover;
            height: 1000px;">
<header th:replace="~{fragment::header(${activeSection})}"></header>
<div>
    <div class="row justify-content-md-center m-5 p-3">
            <form method="post" class=" m-5 p-3 shadow col-3 rounded bg-transparent">
                <div class="border-bottom border-success  p-2 m-2">
                    <a class="navbar-brand row justify-content-md-center">
                        <img src="https://svgsilh.com/png-512/2022689-cddc39.png" width="50" height="50" alt="">
                    </a>
                    <font size="5" class="text-success " face="CURSIVE">FamilyBANK</font>
                </div>
                <div class="form-group mt-3">
                    <label>Введите логин</label>
                    <input type="text" class="form-control" name="username"/>
                </div>
                <div class="form-group mt-3">
                    <label>Введите пароль</label>
                    <input type="password" class="form-control" name="password"/>
                </div>
                <button type="submit" class="col-8 mb-3 btn btn-success btn-block">Войти</button>
                <div class="border-top m-3 text-success">
                    <a th:href = "@{/registration}" class="text-success">Регистрация</a>
                </div>
            </form>
    </div>
</div>
</body>
</html>



